{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "ModernEDI Scenario Workspace API",
    "version": "1.0.0",
    "summary": "Customer v1 contract for scenario authoring, execution, and platform context inside a signed-in workspace.",
    "description": "This contract serves signed-in ModernEDI workspace users and browser/BFF automation acting with the same tenant session. It is intentionally separate from the public API-key Integration API. An Integration API key does not authenticate tenant routes. The one stateless Mapper expression-diagnostics operation is explicitly public and never reads or changes tenant data."
  },
  "externalDocs": {
    "description": "Scenario authoring guide, schema-derived field reference, and executable examples",
    "url": "https://www.modernedi.com/docs/scenarios/reference"
  },
  "servers": [
    {
      "url": "https://api.modernedi.com",
      "description": "ModernEDI production Workspace API origin"
    }
  ],
  "tags": [
    {
      "name": "Catalog",
      "description": "Discover definitions and runtime readiness."
    },
    {
      "name": "Authoring",
      "description": "Validate draft JSON without lifecycle mutation."
    },
    {
      "name": "Lifecycle",
      "description": "Publish definitions and apply binding revisions immutably."
    },
    {
      "name": "Managed profiles",
      "description": "Prepare ModernEDI-owned test dependencies used by guided scenario examples."
    },
    {
      "name": "Runs",
      "description": "Start, inspect, and advance durable evidence-bearing runs."
    },
    {
      "name": "Evidence",
      "description": "Export immutable, redacted proof for terminal scenario runs."
    },
    {
      "name": "Context",
      "description": "Connect ordinary transactions, partners, and mappings to scenario conversations."
    },
    {
      "name": "Tooling",
      "description": "Stateless JSON authoring support shared with the Mapper editor."
    }
  ],
  "paths": {
    "/tenant/configuration/apply-operations/{operationId}/scenario-run-selections/{bindingId}": {
      "get": {
        "operationId": "getWorkspaceConfigurationScenarioRunSelection",
        "tags": [
          "Runs"
        ],
        "summary": "Prepare an exact scenario selection from a completed configuration change",
        "description": "Read-only counterpart of the Integration API apply-to-run selection endpoint, using the same service and authority checks. Requires the complete current aggregate snapshot to match this successful apply, and the authored binding to remain active and current against its runtime dependencies and catalog. Returns its real Test or Production environment and frozen definition/binding hashes with empty parameters; the existing start form collects declared parameters. It never starts a run, prepares an adapter, or sends EDI. Workspace OPERATE permission is separately required to start. A no-op apply may select an unchanged binding. This is a point-in-time check, not a configuration lease or evidence that every conversation passed; the start command independently revalidates the binding. Missing or foreign operations and unavailable bindings are not substituted with newer selections.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "READ",
        "x-modernedi-error-codes": [
          "invalid_request",
          "configuration_apply_operation_not_found",
          "configuration_apply_pending",
          "configuration_snapshot_changed",
          "scenario_binding_not_found",
          "scenario_binding_not_current",
          "server_error"
        ],
        "x-modernedi-retryable-errors": [
          {
            "code": "configuration_apply_pending",
            "status": 409
          },
          {
            "code": "server_error",
            "status": 500
          }
        ],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/configuration/TenantIntegrationConfigurationApplyOperationResource.java#scenarioRunSelection",
        "parameters": [
          {
            "$ref": "#/components/parameters/operationId"
          },
          {
            "$ref": "#/components/parameters/bindingId"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppliedScenarioRunSelection"
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/tenant/configuration/apply-operations/{operationId}/scenario-evidence": {
      "get": {
        "operationId": "getAppliedScenarioEvidence",
        "tags": [
          "Evidence"
        ],
        "summary": "Follow a configuration change to its exact binding revisions and runs",
        "description": "Returns at most 20 binding revisions created or retired by this exact configuration apply. Each revision includes its newest retained run by start time, including an active, failed, or cancelled run. No earlier revision's pass is inherited. available=false means optional history could not be read; an empty list is not a verified verdict. Retired revisions cannot start runs. This is historical provenance, not an attestation of current runtime configuration, complete coverage, or partner acceptance. No document bodies or fact values are returned.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "READ",
        "x-modernedi-error-codes": [],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/configuration/TenantIntegrationConfigurationApplyOperationResource.java#scenarioEvidence",
        "parameters": [
          {
            "$ref": "#/components/parameters/operationId"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppliedScenarioEvidence"
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ConfigurationHistoryError400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/ConfigurationHistoryError404"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/tenant/scenario-runs/{runId}/configuration-change": {
      "get": {
        "operationId": "getScenarioRunConfigurationChange",
        "tags": [
          "Evidence"
        ],
        "summary": "Find the configuration change that created a run's exact binding",
        "description": "Joins the run to its immutable binding revision within the signed-in workspace. Returns that revision's configuration apply ID, not the latest apply or the nearest change by time. operationId is null for bindings such as managed test profiles that have no aggregate configuration change. Later edits or retirement do not rewrite this provenance. Run retention still applies; a missing or foreign run returns 404.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "READ",
        "x-modernedi-error-codes": [
          "invalid_request",
          "scenario_run_not_found",
          "server_error"
        ],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/scenario/TenantScenarioRunConfigurationChangeResource.java#get",
        "parameters": [
          {
            "$ref": "#/components/parameters/runId"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioRunConfigurationChange"
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/tenant/scenarios/catalog": {
      "get": {
        "operationId": "listScenarioCatalog",
        "tags": [
          "Catalog"
        ],
        "summary": "List scenario definitions available to the tenant",
        "description": "Returns managed and tenant-published definitions with canonical hashes, topological order, syntax-tree readiness, and managed-adapter information. definition_only means the catalog has no single stored X12 release covering every step; syntax_tree_backed means at least one stored release covers every step but no exact ModernEDI-managed adapter is registered; executable_adapter means one exact registered managed adapter covers the definition identity, hash, and every step. These catalog labels do not decide whether a tenant-specific binding can run: Validate and Apply make that decision from the binding's exact partners, per-step syntax trees, mappings, observation targets, fact expressions, and adapters. The response is private and conditionally cacheable with its strong ETag.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "READ",
        "x-modernedi-error-codes": [],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/scenario/TenantScenarioCatalogResource.java#catalog",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioCatalogResponse"
                },
                "example": {
                  "success": true,
                  "definitions": [
                    {
                      "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                      "topologicalStepOrder": [
                        "purchaseOrder",
                        "invoice"
                      ],
                      "readiness": {
                        "level": "syntax_tree_backed",
                        "completeSyntaxTreeVersions": [
                          "004010"
                        ],
                        "missingSyntaxTreeStepIds": []
                      },
                      "definition": {
                        "$schema": "https://www.modernedi.com/docs/scenarios/schemas/scenario-definition-v1.schema.json",
                        "apiVersion": "modernedi.com/scenario/v1",
                        "kind": "ScenarioDefinition",
                        "metadata": {
                          "namespace": "acme",
                          "key": "retail-order-invoice",
                          "version": "1.0.0"
                        },
                        "spec": {
                          "actors": [
                            {
                              "id": "retailer"
                            },
                            {
                              "id": "supplier"
                            }
                          ],
                          "steps": [
                            {
                              "id": "purchaseOrder",
                              "fromActor": "retailer",
                              "toActor": "supplier",
                              "transaction": {
                                "standard": "X12",
                                "transactionSet": "850",
                                "businessUsage": "purchase_order"
                              },
                              "occurrence": {
                                "min": 1,
                                "max": 1,
                                "closure": {
                                  "kind": "fixed"
                                }
                              },
                              "assurance": {
                                "requirements": [
                                  {
                                    "type": "mapping_succeeded"
                                  }
                                ]
                              },
                              "facts": [
                                {
                                  "name": "purchaseOrderNumber",
                                  "type": "string",
                                  "cardinality": "one",
                                  "normalization": [
                                    "trim"
                                  ],
                                  "sensitivity": "business"
                                }
                              ],
                              "pipeline": [
                                {
                                  "id": "exchange",
                                  "kind": "exchange"
                                },
                                {
                                  "id": "extract",
                                  "kind": "extract",
                                  "facts": [
                                    "purchaseOrderNumber"
                                  ]
                                },
                                {
                                  "id": "assure",
                                  "kind": "assure"
                                }
                              ]
                            },
                            {
                              "id": "invoice",
                              "fromActor": "supplier",
                              "toActor": "retailer",
                              "transaction": {
                                "standard": "X12",
                                "transactionSet": "810",
                                "businessUsage": "invoice"
                              },
                              "occurrence": {
                                "min": 1,
                                "max": 1,
                                "closure": {
                                  "kind": "fixed"
                                }
                              },
                              "assurance": {
                                "requirements": [
                                  {
                                    "type": "transport_receipt_accepted",
                                    "within": "PT4H"
                                  },
                                  {
                                    "type": "functional_or_implementation_acknowledgment_accepted"
                                  }
                                ]
                              },
                              "facts": [
                                {
                                  "name": "purchaseOrderNumber",
                                  "type": "string",
                                  "cardinality": "one",
                                  "normalization": [
                                    "trim"
                                  ],
                                  "sensitivity": "business"
                                },
                                {
                                  "name": "invoiceTotal",
                                  "type": "decimal",
                                  "cardinality": "optional",
                                  "normalization": [
                                    "decimal_canonical"
                                  ],
                                  "sensitivity": "financial"
                                }
                              ],
                              "pipeline": [
                                {
                                  "id": "exchange",
                                  "kind": "exchange"
                                },
                                {
                                  "id": "extract",
                                  "kind": "extract",
                                  "facts": [
                                    "purchaseOrderNumber",
                                    "invoiceTotal"
                                  ]
                                },
                                {
                                  "id": "assure",
                                  "kind": "assure"
                                }
                              ]
                            }
                          ],
                          "transitions": [
                            {
                              "id": "invoiceSettlesOrder",
                              "fromStep": "purchaseOrder",
                              "toStep": "invoice",
                              "relationship": "follows",
                              "within": "P30D",
                              "correlations": [
                                {
                                  "id": "samePurchaseOrder",
                                  "operator": "equal",
                                  "left": {
                                    "kind": "fact",
                                    "stepId": "purchaseOrder",
                                    "fact": "purchaseOrderNumber",
                                    "projection": "value"
                                  },
                                  "right": {
                                    "kind": "fact",
                                    "stepId": "invoice",
                                    "fact": "purchaseOrderNumber",
                                    "projection": "value"
                                  }
                                }
                              ],
                              "matching": {
                                "strategy": "correlate",
                                "quantifiers": [
                                  {
                                    "kind": "every",
                                    "scope": "from"
                                  },
                                  {
                                    "kind": "every",
                                    "scope": "to"
                                  }
                                ],
                                "unmatched": "fail"
                              }
                            }
                          ],
                          "assertions": [
                            {
                              "id": "invoiceTotalExists",
                              "operator": "exists",
                              "left": {
                                "kind": "fact",
                                "stepId": "invoice",
                                "fact": "invoiceTotal",
                                "projection": "value"
                              }
                            }
                          ],
                          "parameters": [],
                          "checkpoints": [],
                          "branches": []
                        }
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/lifecycleETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            }
          },
          "304": {
            "description": "The catalog has not changed.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/lifecycleETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          }
        }
      }
    },
    "/x12mapper/workspaces/{workspaceId}/scenario-authoring/validate": {
      "post": {
        "operationId": "validateScenarioAuthoring",
        "tags": [
          "Authoring"
        ],
        "summary": "Validate scenario definition and binding drafts",
        "description": "Runs strict JSON parsing, JSON Schema validation, cross-file resolution, tenant-authority checks, graph checks, fact typing, and current runtime-capability checks without publishing or applying anything.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "OPERATE",
        "x-modernedi-error-codes": [
          "invalid_request"
        ],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/mapping/TenantMapperWorkspaceResource.java#validateScenarioAuthoring",
        "parameters": [
          {
            "$ref": "#/components/parameters/workspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioValidationResponse"
                },
                "example": {
                  "success": true,
                  "files": [
                    {
                      "id": "order-invoice.scenario.json",
                      "fileType": "SCENARIO_DEFINITION",
                      "kind": "definition",
                      "status": "resolved",
                      "issues": [],
                      "compiled": {
                        "definition": {
                          "namespace": "acme",
                          "key": "retail-order-invoice",
                          "version": "1.0.0",
                          "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                        },
                        "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                      }
                    },
                    {
                      "id": "order-invoice.binding.json",
                      "fileType": "SCENARIO_BINDING",
                      "kind": "binding",
                      "status": "resolved",
                      "issues": [],
                      "compiled": {
                        "definition": {
                          "namespace": "acme",
                          "key": "retail-order-invoice",
                          "version": "1.0.0",
                          "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                        },
                        "contentSha256": "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb",
                        "authorityEtag": "\"dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd\"",
                        "referencedPartnerIds": [
                          42
                        ],
                        "applyEligibility": {
                          "eligible": true,
                          "activationKind": "scenario_graph_v1",
                          "reason": null
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScenarioValidationRequest"
              },
              "example": {
                "files": [
                  {
                    "id": "order-invoice.scenario.json",
                    "fileType": "SCENARIO_DEFINITION",
                    "source": "{\n  \"$schema\": \"https://www.modernedi.com/docs/scenarios/schemas/scenario-definition-v1.schema.json\",\n  \"apiVersion\": \"modernedi.com/scenario/v1\",\n  \"kind\": \"ScenarioDefinition\",\n  \"metadata\": {\n    \"namespace\": \"acme\",\n    \"key\": \"retail-order-invoice\",\n    \"version\": \"1.0.0\"\n  },\n  \"spec\": {\n    \"actors\": [\n      {\n        \"id\": \"retailer\"\n      },\n      {\n        \"id\": \"supplier\"\n      }\n    ],\n    \"steps\": [\n      {\n        \"id\": \"purchaseOrder\",\n        \"fromActor\": \"retailer\",\n        \"toActor\": \"supplier\",\n        \"transaction\": {\n          \"standard\": \"X12\",\n          \"transactionSet\": \"850\",\n          \"businessUsage\": \"purchase_order\"\n        },\n        \"occurrence\": {\n          \"min\": 1,\n          \"max\": 1,\n          \"closure\": {\n            \"kind\": \"fixed\"\n          }\n        },\n        \"assurance\": {\n          \"requirements\": [\n            {\n              \"type\": \"mapping_succeeded\"\n            }\n          ]\n        },\n        \"facts\": [\n          {\n            \"name\": \"purchaseOrderNumber\",\n            \"type\": \"string\",\n            \"cardinality\": \"one\",\n            \"normalization\": [\n              \"trim\"\n            ],\n            \"sensitivity\": \"business\"\n          }\n        ],\n        \"pipeline\": [\n          {\n            \"id\": \"exchange\",\n            \"kind\": \"exchange\"\n          },\n          {\n            \"id\": \"extract\",\n            \"kind\": \"extract\",\n            \"facts\": [\n              \"purchaseOrderNumber\"\n            ]\n          },\n          {\n            \"id\": \"assure\",\n            \"kind\": \"assure\"\n          }\n        ]\n      },\n      {\n        \"id\": \"invoice\",\n        \"fromActor\": \"supplier\",\n        \"toActor\": \"retailer\",\n        \"transaction\": {\n          \"standard\": \"X12\",\n          \"transactionSet\": \"810\",\n          \"businessUsage\": \"invoice\"\n        },\n        \"occurrence\": {\n          \"min\": 1,\n          \"max\": 1,\n          \"closure\": {\n            \"kind\": \"fixed\"\n          }\n        },\n        \"assurance\": {\n          \"requirements\": [\n            {\n              \"type\": \"transport_receipt_accepted\",\n              \"within\": \"PT4H\"\n            },\n            {\n              \"type\": \"functional_or_implementation_acknowledgment_accepted\"\n            }\n          ]\n        },\n        \"facts\": [\n          {\n            \"name\": \"purchaseOrderNumber\",\n            \"type\": \"string\",\n            \"cardinality\": \"one\",\n            \"normalization\": [\n              \"trim\"\n            ],\n            \"sensitivity\": \"business\"\n          },\n          {\n            \"name\": \"invoiceTotal\",\n            \"type\": \"decimal\",\n            \"cardinality\": \"optional\",\n            \"normalization\": [\n              \"decimal_canonical\"\n            ],\n            \"sensitivity\": \"financial\"\n          }\n        ],\n        \"pipeline\": [\n          {\n            \"id\": \"exchange\",\n            \"kind\": \"exchange\"\n          },\n          {\n            \"id\": \"extract\",\n            \"kind\": \"extract\",\n            \"facts\": [\n              \"purchaseOrderNumber\",\n              \"invoiceTotal\"\n            ]\n          },\n          {\n            \"id\": \"assure\",\n            \"kind\": \"assure\"\n          }\n        ]\n      }\n    ],\n    \"transitions\": [\n      {\n        \"id\": \"invoiceSettlesOrder\",\n        \"fromStep\": \"purchaseOrder\",\n        \"toStep\": \"invoice\",\n        \"relationship\": \"follows\",\n        \"within\": \"P30D\",\n        \"correlations\": [\n          {\n            \"id\": \"samePurchaseOrder\",\n            \"operator\": \"equal\",\n            \"left\": {\n              \"kind\": \"fact\",\n              \"stepId\": \"purchaseOrder\",\n              \"fact\": \"purchaseOrderNumber\",\n              \"projection\": \"value\"\n            },\n            \"right\": {\n              \"kind\": \"fact\",\n              \"stepId\": \"invoice\",\n              \"fact\": \"purchaseOrderNumber\",\n              \"projection\": \"value\"\n            }\n          }\n        ],\n        \"matching\": {\n          \"strategy\": \"correlate\",\n          \"quantifiers\": [\n            {\n              \"kind\": \"every\",\n              \"scope\": \"from\"\n            },\n            {\n              \"kind\": \"every\",\n              \"scope\": \"to\"\n            }\n          ],\n          \"unmatched\": \"fail\"\n        }\n      }\n    ],\n    \"assertions\": [\n      {\n        \"id\": \"invoiceTotalExists\",\n        \"operator\": \"exists\",\n        \"left\": {\n          \"kind\": \"fact\",\n          \"stepId\": \"invoice\",\n          \"fact\": \"invoiceTotal\",\n          \"projection\": \"value\"\n        }\n      }\n    ],\n    \"parameters\": [],\n    \"checkpoints\": [],\n    \"branches\": []\n  }\n}\n"
                  },
                  {
                    "id": "order-invoice.binding.json",
                    "fileType": "SCENARIO_BINDING",
                    "source": "{\n  \"$schema\": \"https://www.modernedi.com/docs/scenarios/schemas/scenario-binding-v1.schema.json\",\n  \"apiVersion\": \"modernedi.com/scenario-binding-authoring/v1\",\n  \"kind\": \"ScenarioBinding\",\n  \"metadata\": {\n    \"id\": \"retailOrderInvoice\",\n    \"name\": \"Retail order to invoice\"\n  },\n  \"spec\": {\n    \"definition\": {\n      \"namespace\": \"acme\",\n      \"key\": \"retail-order-invoice\",\n      \"version\": \"1.0.0\",\n      \"contentSha256\": \"0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef\"\n    },\n    \"environment\": \"production\",\n    \"actors\": [\n      {\n        \"actorId\": \"retailer\",\n        \"endpoint\": {\n          \"kind\": \"partner\",\n          \"partnerId\": 42\n        }\n      },\n      {\n        \"actorId\": \"supplier\",\n        \"endpoint\": {\n          \"kind\": \"workspace\"\n        }\n      }\n    ],\n    \"steps\": [\n      {\n        \"stepId\": \"purchaseOrder\",\n        \"target\": {\n          \"kind\": \"runtime-mapping\",\n          \"runtimeMappingId\": 101\n        },\n        \"factSources\": [\n          {\n            \"fact\": \"purchaseOrderNumber\",\n            \"source\": {\n              \"kind\": \"x12-mapper-expression\",\n              \"expression\": \"ST->BEG(03)\"\n            }\n          }\n        ]\n      },\n      {\n        \"stepId\": \"invoice\",\n        \"syntaxTree\": {\n          \"x12Version\": \"004010\",\n          \"transactionSet\": \"810\"\n        },\n        \"target\": {\n          \"kind\": \"runtime-mapping\",\n          \"runtimeMappingId\": 102\n        },\n        \"factSources\": [\n          {\n            \"fact\": \"purchaseOrderNumber\",\n            \"source\": {\n              \"kind\": \"x12-mapper-expression\",\n              \"expression\": \"ST->BIG(04)\"\n            }\n          },\n          {\n            \"fact\": \"invoiceTotal\",\n            \"source\": {\n              \"kind\": \"x12-mapper-expression\",\n              \"expression\": \"ST->TDS(01)\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}\n"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/x12mapper/workspaces/{workspaceId}/scenario-authoring/definitions": {
      "get": {
        "operationId": "listPublishedScenarioDefinitions",
        "tags": [
          "Lifecycle"
        ],
        "summary": "List immutable tenant-published definitions",
        "description": "Returns definition identities and publication provenance for this tenant. The original source is intentionally represented by its canonical identity and hash.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "READ",
        "x-modernedi-error-codes": [
          "invalid_request"
        ],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/mapping/TenantMapperWorkspaceResource.java#publishedScenarioDefinitions",
        "parameters": [
          {
            "$ref": "#/components/parameters/workspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedDefinitionListResponse"
                },
                "example": {
                  "success": true,
                  "definitions": [
                    {
                      "namespace": "acme",
                      "key": "retail-order-invoice",
                      "version": "1.0.0",
                      "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                      "etag": "\"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\"",
                      "publishedAt": "2026-08-24T18:00:00Z",
                      "publishedBy": {
                        "memberId": 17,
                        "email": "operator@example.com",
                        "role": "OPERATOR"
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          }
        }
      }
    },
    "/x12mapper/workspaces/{workspaceId}/scenario-authoring/definitions/publish": {
      "post": {
        "operationId": "publishScenarioDefinition",
        "tags": [
          "Lifecycle"
        ],
        "summary": "Publish a validated definition immutably",
        "description": "Publishes the exact definition source only when its canonical hash matches expectedContentSha256. Reusing an Idempotency-Key with the identical request replays the original result; reusing it for different content is a conflict.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "OPERATE",
        "x-modernedi-error-codes": [
          "invalid_request",
          "precondition_required",
          "precondition_failed",
          "definition_identity_conflict",
          "scenario_revision_conflict",
          "idempotency_key_conflict",
          "content_hash_mismatch",
          "scenario_authoring_quota_exceeded"
        ],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/mapping/TenantMapperWorkspaceResource.java#publishScenarioDefinition",
        "parameters": [
          {
            "$ref": "#/components/parameters/workspaceId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required command identity. Replays require byte-equivalent normalized input.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "example": "scenario-run-20260824-001"
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": true,
            "description": "Use * when creating a resource that must not already exist.",
            "schema": {
              "type": "string",
              "enum": [
                "*"
              ]
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedDefinitionMutationResponse"
                },
                "example": {
                  "success": true,
                  "replay": false,
                  "definition": {
                    "namespace": "acme",
                    "key": "retail-order-invoice",
                    "version": "1.0.0",
                    "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                    "etag": "\"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\"",
                    "publishedAt": "2026-08-24T18:00:00Z",
                    "publishedBy": {
                      "memberId": 17,
                      "email": "operator@example.com",
                      "role": "OPERATOR"
                    }
                  }
                }
              }
            },
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/lifecycleETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Idempotency-Replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            }
          },
          "201": {
            "description": "The immutable resource or durable run was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedDefinitionMutationResponse"
                },
                "example": {
                  "success": true,
                  "replay": false,
                  "definition": {
                    "namespace": "acme",
                    "key": "retail-order-invoice",
                    "version": "1.0.0",
                    "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                    "etag": "\"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\"",
                    "publishedAt": "2026-08-24T18:00:00Z",
                    "publishedBy": {
                      "memberId": 17,
                      "email": "operator@example.com",
                      "role": "OPERATOR"
                    }
                  }
                }
              }
            },
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/lifecycleETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Idempotency-Replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "412": {
            "$ref": "#/components/responses/Error412"
          },
          "428": {
            "$ref": "#/components/responses/Error428"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishScenarioDefinitionRequest"
              },
              "example": {
                "file": {
                  "id": "order-invoice.scenario.json",
                  "fileType": "SCENARIO_DEFINITION",
                  "source": "{\n  \"$schema\": \"https://www.modernedi.com/docs/scenarios/schemas/scenario-definition-v1.schema.json\",\n  \"apiVersion\": \"modernedi.com/scenario/v1\",\n  \"kind\": \"ScenarioDefinition\",\n  \"metadata\": {\n    \"namespace\": \"acme\",\n    \"key\": \"retail-order-invoice\",\n    \"version\": \"1.0.0\"\n  },\n  \"spec\": {\n    \"actors\": [\n      {\n        \"id\": \"retailer\"\n      },\n      {\n        \"id\": \"supplier\"\n      }\n    ],\n    \"steps\": [\n      {\n        \"id\": \"purchaseOrder\",\n        \"fromActor\": \"retailer\",\n        \"toActor\": \"supplier\",\n        \"transaction\": {\n          \"standard\": \"X12\",\n          \"transactionSet\": \"850\",\n          \"businessUsage\": \"purchase_order\"\n        },\n        \"occurrence\": {\n          \"min\": 1,\n          \"max\": 1,\n          \"closure\": {\n            \"kind\": \"fixed\"\n          }\n        },\n        \"assurance\": {\n          \"requirements\": [\n            {\n              \"type\": \"mapping_succeeded\"\n            }\n          ]\n        },\n        \"facts\": [\n          {\n            \"name\": \"purchaseOrderNumber\",\n            \"type\": \"string\",\n            \"cardinality\": \"one\",\n            \"normalization\": [\n              \"trim\"\n            ],\n            \"sensitivity\": \"business\"\n          }\n        ],\n        \"pipeline\": [\n          {\n            \"id\": \"exchange\",\n            \"kind\": \"exchange\"\n          },\n          {\n            \"id\": \"extract\",\n            \"kind\": \"extract\",\n            \"facts\": [\n              \"purchaseOrderNumber\"\n            ]\n          },\n          {\n            \"id\": \"assure\",\n            \"kind\": \"assure\"\n          }\n        ]\n      },\n      {\n        \"id\": \"invoice\",\n        \"fromActor\": \"supplier\",\n        \"toActor\": \"retailer\",\n        \"transaction\": {\n          \"standard\": \"X12\",\n          \"transactionSet\": \"810\",\n          \"businessUsage\": \"invoice\"\n        },\n        \"occurrence\": {\n          \"min\": 1,\n          \"max\": 1,\n          \"closure\": {\n            \"kind\": \"fixed\"\n          }\n        },\n        \"assurance\": {\n          \"requirements\": [\n            {\n              \"type\": \"transport_receipt_accepted\",\n              \"within\": \"PT4H\"\n            },\n            {\n              \"type\": \"functional_or_implementation_acknowledgment_accepted\"\n            }\n          ]\n        },\n        \"facts\": [\n          {\n            \"name\": \"purchaseOrderNumber\",\n            \"type\": \"string\",\n            \"cardinality\": \"one\",\n            \"normalization\": [\n              \"trim\"\n            ],\n            \"sensitivity\": \"business\"\n          },\n          {\n            \"name\": \"invoiceTotal\",\n            \"type\": \"decimal\",\n            \"cardinality\": \"optional\",\n            \"normalization\": [\n              \"decimal_canonical\"\n            ],\n            \"sensitivity\": \"financial\"\n          }\n        ],\n        \"pipeline\": [\n          {\n            \"id\": \"exchange\",\n            \"kind\": \"exchange\"\n          },\n          {\n            \"id\": \"extract\",\n            \"kind\": \"extract\",\n            \"facts\": [\n              \"purchaseOrderNumber\",\n              \"invoiceTotal\"\n            ]\n          },\n          {\n            \"id\": \"assure\",\n            \"kind\": \"assure\"\n          }\n        ]\n      }\n    ],\n    \"transitions\": [\n      {\n        \"id\": \"invoiceSettlesOrder\",\n        \"fromStep\": \"purchaseOrder\",\n        \"toStep\": \"invoice\",\n        \"relationship\": \"follows\",\n        \"within\": \"P30D\",\n        \"correlations\": [\n          {\n            \"id\": \"samePurchaseOrder\",\n            \"operator\": \"equal\",\n            \"left\": {\n              \"kind\": \"fact\",\n              \"stepId\": \"purchaseOrder\",\n              \"fact\": \"purchaseOrderNumber\",\n              \"projection\": \"value\"\n            },\n            \"right\": {\n              \"kind\": \"fact\",\n              \"stepId\": \"invoice\",\n              \"fact\": \"purchaseOrderNumber\",\n              \"projection\": \"value\"\n            }\n          }\n        ],\n        \"matching\": {\n          \"strategy\": \"correlate\",\n          \"quantifiers\": [\n            {\n              \"kind\": \"every\",\n              \"scope\": \"from\"\n            },\n            {\n              \"kind\": \"every\",\n              \"scope\": \"to\"\n            }\n          ],\n          \"unmatched\": \"fail\"\n        }\n      }\n    ],\n    \"assertions\": [\n      {\n        \"id\": \"invoiceTotalExists\",\n        \"operator\": \"exists\",\n        \"left\": {\n          \"kind\": \"fact\",\n          \"stepId\": \"invoice\",\n          \"fact\": \"invoiceTotal\",\n          \"projection\": \"value\"\n        }\n      }\n    ],\n    \"parameters\": [],\n    \"checkpoints\": [],\n    \"branches\": []\n  }\n}\n"
                },
                "expectedContentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
              }
            }
          }
        }
      }
    },
    "/x12mapper/workspaces/{workspaceId}/scenario-authoring/bindings": {
      "get": {
        "operationId": "listAppliedScenarioBindings",
        "tags": [
          "Lifecycle"
        ],
        "summary": "List applied binding revisions",
        "description": "Returns every immutable applied binding revision visible to this tenant, including the exact definition, runtime activation, authority state, and ETag.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "READ",
        "x-modernedi-error-codes": [
          "invalid_request"
        ],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/mapping/TenantMapperWorkspaceResource.java#appliedScenarioBindings",
        "parameters": [
          {
            "$ref": "#/components/parameters/workspaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppliedBindingListResponse"
                },
                "example": {
                  "success": true,
                  "bindings": [
                    {
                      "id": "retailOrderInvoice",
                      "name": "Retail order to invoice",
                      "status": "ACTIVE",
                      "revision": 0,
                      "definition": {
                        "namespace": "acme",
                        "key": "retail-order-invoice",
                        "version": "1.0.0",
                        "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                      },
                      "authoringContentSha256": "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb",
                      "bindingContentSha256": "cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc",
                      "adapterId": "scenario-graph-interpreter-v1",
                      "environment": "production",
                      "referencedMappingIds": [
                        17
                      ],
                      "referencedPartnerIds": [
                        42
                      ],
                      "etag": "\"cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc\"",
                      "appliedAt": "2026-08-24T18:05:00Z",
                      "appliedBy": {
                        "memberId": 17,
                        "email": "operator@example.com",
                        "role": "OPERATOR"
                      },
                      "activation": {
                        "kind": "scenario_graph_v1",
                        "runnable": true,
                        "current": true,
                        "reason": null
                      }
                    }
                  ]
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          }
        }
      }
    },
    "/x12mapper/workspaces/{workspaceId}/scenario-authoring/bindings/{bindingId}": {
      "get": {
        "operationId": "getAppliedScenarioBinding",
        "tags": [
          "Lifecycle"
        ],
        "summary": "Read one applied binding revision",
        "description": "Reads one exact binding identity and returns the strong ETag required to apply the next revision.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "READ",
        "x-modernedi-error-codes": [
          "invalid_request",
          "scenario_binding_not_found"
        ],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/mapping/TenantMapperWorkspaceResource.java#appliedScenarioBinding",
        "parameters": [
          {
            "$ref": "#/components/parameters/workspaceId"
          },
          {
            "$ref": "#/components/parameters/bindingId"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppliedBindingResponse"
                },
                "example": {
                  "success": true,
                  "binding": {
                    "id": "retailOrderInvoice",
                    "name": "Retail order to invoice",
                    "status": "ACTIVE",
                    "revision": 0,
                    "definition": {
                      "namespace": "acme",
                      "key": "retail-order-invoice",
                      "version": "1.0.0",
                      "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                    },
                    "authoringContentSha256": "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb",
                    "bindingContentSha256": "cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc",
                    "adapterId": "scenario-graph-interpreter-v1",
                    "environment": "production",
                    "referencedMappingIds": [
                      17
                    ],
                    "referencedPartnerIds": [
                      42
                    ],
                    "etag": "\"cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc\"",
                    "appliedAt": "2026-08-24T18:05:00Z",
                    "appliedBy": {
                      "memberId": 17,
                      "email": "operator@example.com",
                      "role": "OPERATOR"
                    },
                    "activation": {
                      "kind": "scenario_graph_v1",
                      "runnable": true,
                      "current": true,
                      "reason": null
                    }
                  }
                }
              }
            },
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/lifecycleETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          }
        }
      },
      "put": {
        "operationId": "applyScenarioBinding",
        "tags": [
          "Lifecycle"
        ],
        "summary": "Apply an immutable binding revision",
        "description": "Resolves the authoring document against current tenant authority, freezes exact runtime artifacts, and creates a reproducible applied revision. Use If-None-Match: * to create revision zero; use the current strong If-Match ETag for later revisions.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "OPERATE",
        "x-modernedi-error-codes": [
          "invalid_request",
          "precondition_required",
          "precondition_failed",
          "etag_mismatch",
          "authority_etag_mismatch",
          "scenario_revision_conflict",
          "idempotency_key_conflict",
          "content_hash_mismatch",
          "scenario_authoring_quota_exceeded",
          "scenario_binding_no_change",
          "scenario_binding_not_executable"
        ],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/mapping/TenantMapperWorkspaceResource.java#applyScenarioBinding",
        "parameters": [
          {
            "$ref": "#/components/parameters/workspaceId"
          },
          {
            "$ref": "#/components/parameters/bindingId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required command identity. Replays require byte-equivalent normalized input.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "example": "scenario-run-20260824-001"
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "description": "Current strong lifecycle ETag. Required for optimistic-concurrency mutation of an existing published or applied resource.",
            "schema": {
              "$ref": "#/components/schemas/LifecycleEtag"
            },
            "example": "\"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\""
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Use * when creating a resource that must not already exist.",
            "schema": {
              "type": "string",
              "enum": [
                "*"
              ]
            },
            "example": "*"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppliedBindingMutationResponse"
                },
                "example": {
                  "success": true,
                  "replay": false,
                  "binding": {
                    "id": "retailOrderInvoice",
                    "name": "Retail order to invoice",
                    "status": "ACTIVE",
                    "revision": 0,
                    "definition": {
                      "namespace": "acme",
                      "key": "retail-order-invoice",
                      "version": "1.0.0",
                      "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                    },
                    "authoringContentSha256": "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb",
                    "bindingContentSha256": "cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc",
                    "adapterId": "scenario-graph-interpreter-v1",
                    "environment": "production",
                    "referencedMappingIds": [
                      17
                    ],
                    "referencedPartnerIds": [
                      42
                    ],
                    "etag": "\"cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc\"",
                    "appliedAt": "2026-08-24T18:05:00Z",
                    "appliedBy": {
                      "memberId": 17,
                      "email": "operator@example.com",
                      "role": "OPERATOR"
                    },
                    "activation": {
                      "kind": "scenario_graph_v1",
                      "runnable": true,
                      "current": true,
                      "reason": null
                    }
                  }
                }
              }
            },
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/lifecycleETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Idempotency-Replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            }
          },
          "201": {
            "description": "The immutable resource or durable run was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppliedBindingMutationResponse"
                },
                "example": {
                  "success": true,
                  "replay": false,
                  "binding": {
                    "id": "retailOrderInvoice",
                    "name": "Retail order to invoice",
                    "status": "ACTIVE",
                    "revision": 0,
                    "definition": {
                      "namespace": "acme",
                      "key": "retail-order-invoice",
                      "version": "1.0.0",
                      "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                    },
                    "authoringContentSha256": "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb",
                    "bindingContentSha256": "cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc",
                    "adapterId": "scenario-graph-interpreter-v1",
                    "environment": "production",
                    "referencedMappingIds": [
                      17
                    ],
                    "referencedPartnerIds": [
                      42
                    ],
                    "etag": "\"cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc\"",
                    "appliedAt": "2026-08-24T18:05:00Z",
                    "appliedBy": {
                      "memberId": 17,
                      "email": "operator@example.com",
                      "role": "OPERATOR"
                    },
                    "activation": {
                      "kind": "scenario_graph_v1",
                      "runnable": true,
                      "current": true,
                      "reason": null
                    }
                  }
                }
              }
            },
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/lifecycleETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Idempotency-Replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "412": {
            "$ref": "#/components/responses/Error412"
          },
          "428": {
            "$ref": "#/components/responses/Error428"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyScenarioBindingRequest"
              },
              "example": {
                "file": {
                  "id": "order-invoice.binding.json",
                  "fileType": "SCENARIO_BINDING",
                  "source": "{\n  \"$schema\": \"https://www.modernedi.com/docs/scenarios/schemas/scenario-binding-v1.schema.json\",\n  \"apiVersion\": \"modernedi.com/scenario-binding-authoring/v1\",\n  \"kind\": \"ScenarioBinding\",\n  \"metadata\": {\n    \"id\": \"retailOrderInvoice\",\n    \"name\": \"Retail order to invoice\"\n  },\n  \"spec\": {\n    \"definition\": {\n      \"namespace\": \"acme\",\n      \"key\": \"retail-order-invoice\",\n      \"version\": \"1.0.0\",\n      \"contentSha256\": \"0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef\"\n    },\n    \"environment\": \"production\",\n    \"actors\": [\n      {\n        \"actorId\": \"retailer\",\n        \"endpoint\": {\n          \"kind\": \"partner\",\n          \"partnerId\": 42\n        }\n      },\n      {\n        \"actorId\": \"supplier\",\n        \"endpoint\": {\n          \"kind\": \"workspace\"\n        }\n      }\n    ],\n    \"steps\": [\n      {\n        \"stepId\": \"purchaseOrder\",\n        \"target\": {\n          \"kind\": \"runtime-mapping\",\n          \"runtimeMappingId\": 101\n        },\n        \"factSources\": [\n          {\n            \"fact\": \"purchaseOrderNumber\",\n            \"source\": {\n              \"kind\": \"x12-mapper-expression\",\n              \"expression\": \"ST->BEG(03)\"\n            }\n          }\n        ]\n      },\n      {\n        \"stepId\": \"invoice\",\n        \"syntaxTree\": {\n          \"x12Version\": \"004010\",\n          \"transactionSet\": \"810\"\n        },\n        \"target\": {\n          \"kind\": \"runtime-mapping\",\n          \"runtimeMappingId\": 102\n        },\n        \"factSources\": [\n          {\n            \"fact\": \"purchaseOrderNumber\",\n            \"source\": {\n              \"kind\": \"x12-mapper-expression\",\n              \"expression\": \"ST->BIG(04)\"\n            }\n          },\n          {\n            \"fact\": \"invoiceTotal\",\n            \"source\": {\n              \"kind\": \"x12-mapper-expression\",\n              \"expression\": \"ST->TDS(01)\"\n            }\n          }\n        ]\n      }\n    ]\n  }\n}\n"
                },
                "expectedContentSha256": "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb",
                "expectedAuthorityEtag": "\"cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc\""
              }
            }
          }
        }
      }
    },
    "/x12mapper/workspace/expression/diagnostics": {
      "post": {
        "operationId": "validateScenarioMapperExpression",
        "tags": [
          "Tooling"
        ],
        "summary": "Validate one X12 Mapper fact-source expression",
        "description": "Returns tree-aware X12 Mapper diagnostics for exactly one value-returning expression. This is the fast editor/tooling check used while authoring a binding; scenario Validate remains authoritative for definition fact types, exact fact coverage, tenant artifacts, and Apply eligibility.",
        "security": [],
        "x-modernedi-permission": "Public and stateless; no tenant data",
        "x-modernedi-error-codes": [],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/mapping/X12MapperPublicResource.java#expressionDiagnostics",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapperExpressionDiagnosticsResponse"
                },
                "example": {
                  "success": true,
                  "diagnostics": [
                    {
                      "range": {
                        "start": {
                          "line": 0,
                          "character": 0
                        },
                        "end": {
                          "line": 0,
                          "character": 19
                        }
                      },
                      "message": "Expected exactly one value-returning expression.",
                      "code": "E3001",
                      "severity": "ERROR"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/MapperToolingError400"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapperExpressionDiagnosticsRequest"
              },
              "example": {
                "source": "ST->BEG(03)",
                "x12Version": "004010",
                "transactionSetId": "850"
              }
            }
          }
        }
      }
    },
    "/tenant/scenario-runs": {
      "get": {
        "operationId": "listScenarioRuns",
        "tags": [
          "Runs"
        ],
        "summary": "List recent scenario conversations",
        "description": "Returns a bounded tenant-scoped summary of recent runs for discovery and navigation without exposing fact values or evidence payloads.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "READ",
        "x-modernedi-error-codes": [
          "invalid_request",
          "server_error"
        ],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/scenario/TenantScenarioRunResource.java#list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum recent runs to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "example": 25
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque tenant-bound keyset cursor returned as nextCursor by the preceding page. Return it unchanged.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024,
              "pattern": "^[A-Za-z0-9_-]+$"
            },
            "example": "eyJiZWZvcmVSdW5JZCI6InJ1bi01MDA3ZGJmMy1mMTE1LTRjYWMtODUzMC0xODhmYjQzMjZjNDUiLCJiZWZvcmVTdGFydGVkQXQiOiIyMDI2LTA4LTI0VDE4OjEwOjAwWiIsInRlbmFudElkIjo0MiwidiI6MX0"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioRunCollection"
                },
                "example": {
                  "apiVersion": "modernedi.com/scenario-platform/v1",
                  "kind": "scenario_run_collection",
                  "runs": [
                    {
                      "id": "run-5007dbf3-f115-4cac-8530-188fb4326c45",
                      "revision": 1,
                      "etag": "\"scenario-run:v1:42:cnVuLTUwMDdkYmYzLWYxMTUtNGNhYy04NTMwLTE4OGZiNDMyNmM0NQ:1\"",
                      "binding": {
                        "id": "retailOrderInvoice",
                        "revision": 0,
                        "name": "Retail order to invoice",
                        "contentSha256": "cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc"
                      },
                      "definition": {
                        "namespace": "acme",
                        "key": "retail-order-invoice",
                        "version": "1.0.0",
                        "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                      },
                      "environment": "production",
                      "status": "active",
                      "outcome": "waiting",
                      "phase": "observing",
                      "startedAt": "2026-08-24T18:10:00Z",
                      "completedAt": null,
                      "lastUpdatedAt": "2026-08-24T18:12:00Z",
                      "guidance": {
                        "nextAction": "attach_or_refresh",
                        "stepId": null,
                        "occurrence": null
                      }
                    }
                  ],
                  "nextCursor": "eyJiZWZvcmVSdW5JZCI6InJ1bi01MDA3ZGJmMy1mMTE1LTRjYWMtODUzMC0xODhmYjQzMjZjNDUiLCJiZWZvcmVTdGFydGVkQXQiOiIyMDI2LTA4LTI0VDE4OjEwOjAwWiIsInRlbmFudElkIjo0MiwidiI6MX0"
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "post": {
        "operationId": "startScenarioRun",
        "tags": [
          "Runs"
        ],
        "summary": "Start a run from an exact applied binding",
        "description": "Starts a durable run from exact definition and binding hashes in the binding's production or test traffic environment. Both environments share deployed mappings, but transactions, dispatch, acknowledgments, and evidence remain in the selected environment. Optional typed parameters are checked against the definition before any operation is accepted. Registered adapter targets prepare their selected-profile runtime dependencies before the run is inserted; temporary preparation failures are retryable and return Retry-After.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "OPERATE",
        "x-modernedi-error-codes": [
          "invalid_request",
          "scenario_definition_changed",
          "scenario_preparation_unavailable",
          "scenario_binding_incomplete",
          "scenario_target_executor_unavailable",
          "idempotency_key_conflict",
          "scenario_binding_changed",
          "scenario_active_run_quota_exceeded",
          "scenario_start_rate_limited",
          "server_error"
        ],
        "x-modernedi-retryable-errors": [
          {
            "code": "scenario_start_rate_limited",
            "status": 429
          },
          {
            "code": "scenario_preparation_unavailable",
            "status": 503
          }
        ],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/scenario/TenantScenarioRunResource.java#start",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required command identity. Replays require byte-equivalent normalized input.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "example": "scenario-run-20260824-001"
          }
        ],
        "responses": {
          "201": {
            "description": "The immutable resource or durable run was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioRunCommandResponse"
                },
                "example": {
                  "success": true,
                  "operation": {
                    "id": "op-01K5QED4DP89F67V3MKRK9R5JM",
                    "action": "start",
                    "disposition": "started",
                    "fromRevision": 0,
                    "toRevision": 0
                  },
                  "run": {
                    "apiVersion": "modernedi.com/scenario-run-response/v1",
                    "kind": "graph",
                    "id": "run-5007dbf3-f115-4cac-8530-188fb4326c45",
                    "origin": "tenant_applied",
                    "binding": {
                      "id": "retailOrderInvoice",
                      "revision": 0,
                      "contentSha256": "cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc"
                    },
                    "definition": {
                      "namespace": "acme",
                      "key": "retail-order-invoice",
                      "version": "1.0.0",
                      "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                    },
                    "environment": "production",
                    "adapterId": "scenario-graph-interpreter-v1",
                    "execution": {
                      "kind": "scenario_graph_v1",
                      "runtimeVersion": "1.0.0",
                      "authorityContentSha256": "eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee",
                      "parametersContentSha256": "ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff"
                    },
                    "status": "active",
                    "outcome": "waiting",
                    "phase": "observing",
                    "startedAt": "2026-08-24T18:10:00Z",
                    "completedAt": null,
                    "lastUpdatedAt": "2026-08-24T18:10:05Z",
                    "retry": {
                      "mode": "advance",
                      "reason": "Attach an authoritative transaction or advance the next adapter-controlled step.",
                      "requiresApiKey": false
                    },
                    "revision": 0,
                    "etag": "\"scenario-run:v1:42:cnVuLTUwMDdkYmYzLWYxMTUtNGNhYy04NTMwLTE4OGZiNDMyNmM0NQ:0\"",
                    "counts": {
                      "observations": 0,
                      "checkpoints": 0
                    },
                    "guidance": {
                      "nextAction": "attach_or_refresh",
                      "stepId": null,
                      "occurrence": null
                    },
                    "steps": [
                      {
                        "stepId": "purchaseOrder",
                        "fromActor": "retailer",
                        "toActor": "supplier",
                        "transactionSet": "850",
                        "direction": "incoming",
                        "targetKind": "runtime_mapping",
                        "attachable": true,
                        "occurrence": {
                          "min": 1,
                          "max": 1
                        },
                        "observedOccurrences": [],
                        "occurrences": []
                      },
                      {
                        "stepId": "invoice",
                        "fromActor": "supplier",
                        "toActor": "retailer",
                        "transactionSet": "810",
                        "direction": "outgoing",
                        "targetKind": "runtime_mapping",
                        "attachable": true,
                        "occurrence": {
                          "min": 1,
                          "max": 1
                        },
                        "observedOccurrences": [],
                        "occurrences": []
                      }
                    ],
                    "checks": [
                      {
                        "id": "step:purchaseOrder:occurrence",
                        "kind": "occurrence",
                        "outcome": "pending",
                        "code": "OCCURRENCE_PENDING",
                        "subjects": [],
                        "attributes": {
                          "minimum": "1",
                          "maximum": "1"
                        }
                      }
                    ]
                  }
                }
              }
            },
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "ETag": {
                "$ref": "#/components/headers/runETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Idempotency-Replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartScenarioRunRequest"
              },
              "example": {
                "definition": {
                  "namespace": "acme",
                  "key": "retail-order-invoice",
                  "version": "1.0.0",
                  "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                },
                "environment": "production",
                "binding": {
                  "id": "retailOrderInvoice",
                  "revision": 0,
                  "contentSha256": "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"
                },
                "parameters": {}
              }
            }
          }
        }
      }
    },
    "/tenant/implementation-verifications/test-partner-order-invoice/runs": {
      "post": {
        "operationId": "startManagedTestPartnerOrderInvoiceVerification",
        "tags": [
          "Runs"
        ],
        "summary": "Start the managed test-partner 850 to 810 verification",
        "description": "Starts the named ModernEDI-managed test-partner order/invoice flow using Production traffic without asking the caller to create or select a binding. Test partner names who exchanges the documents, not the traffic environment. To use Test traffic, apply a Test binding and start it through POST /tenant/scenario-runs. Every resulting run uses the same scenario evaluator and general run routes.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "OPERATE",
        "x-modernedi-error-codes": [
          "invalid_request",
          "scenario_definition_not_executable",
          "scenario_preparation_unavailable",
          "scenario_binding_incomplete",
          "idempotency_key_conflict",
          "scenario_binding_changed",
          "scenario_active_run_quota_exceeded",
          "scenario_start_rate_limited",
          "server_error"
        ],
        "x-modernedi-retryable-errors": [
          {
            "code": "scenario_start_rate_limited",
            "status": 429
          },
          {
            "code": "scenario_preparation_unavailable",
            "status": 503
          }
        ],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/scenario/TenantTestPartnerOrderInvoiceVerificationResource.java#start",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Required command identity. Replays require byte-equivalent normalized input.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "example": "scenario-run-20260824-001"
          }
        ],
        "responses": {
          "201": {
            "description": "The immutable resource or durable run was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioRunCommandResponse"
                },
                "example": {
                  "success": true,
                  "operation": {
                    "id": "op-01K5QED4DP89F67V3MKRK9R5JM",
                    "action": "start",
                    "disposition": "started",
                    "fromRevision": 0,
                    "toRevision": 0
                  },
                  "run": {
                    "apiVersion": "modernedi.com/scenario-run-response/v1",
                    "kind": "graph",
                    "id": "run-5007dbf3-f115-4cac-8530-188fb4326c45",
                    "origin": "tenant_applied",
                    "binding": {
                      "id": "retailOrderInvoice",
                      "revision": 0,
                      "contentSha256": "cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc"
                    },
                    "definition": {
                      "namespace": "acme",
                      "key": "retail-order-invoice",
                      "version": "1.0.0",
                      "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                    },
                    "environment": "production",
                    "adapterId": "scenario-graph-interpreter-v1",
                    "execution": {
                      "kind": "scenario_graph_v1",
                      "runtimeVersion": "1.0.0",
                      "authorityContentSha256": "eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee",
                      "parametersContentSha256": "ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff"
                    },
                    "status": "active",
                    "outcome": "waiting",
                    "phase": "observing",
                    "startedAt": "2026-08-24T18:10:00Z",
                    "completedAt": null,
                    "lastUpdatedAt": "2026-08-24T18:10:05Z",
                    "retry": {
                      "mode": "advance",
                      "reason": "Attach an authoritative transaction or advance the next adapter-controlled step.",
                      "requiresApiKey": false
                    },
                    "revision": 0,
                    "etag": "\"scenario-run:v1:42:cnVuLTUwMDdkYmYzLWYxMTUtNGNhYy04NTMwLTE4OGZiNDMyNmM0NQ:0\"",
                    "counts": {
                      "observations": 0,
                      "checkpoints": 0
                    },
                    "guidance": {
                      "nextAction": "attach_or_refresh",
                      "stepId": null,
                      "occurrence": null
                    },
                    "steps": [
                      {
                        "stepId": "purchaseOrder",
                        "fromActor": "retailer",
                        "toActor": "supplier",
                        "transactionSet": "850",
                        "direction": "incoming",
                        "targetKind": "runtime_mapping",
                        "attachable": true,
                        "occurrence": {
                          "min": 1,
                          "max": 1
                        },
                        "observedOccurrences": [],
                        "occurrences": []
                      },
                      {
                        "stepId": "invoice",
                        "fromActor": "supplier",
                        "toActor": "retailer",
                        "transactionSet": "810",
                        "direction": "outgoing",
                        "targetKind": "runtime_mapping",
                        "attachable": true,
                        "occurrence": {
                          "min": 1,
                          "max": 1
                        },
                        "observedOccurrences": [],
                        "occurrences": []
                      }
                    ],
                    "checks": [
                      {
                        "id": "step:purchaseOrder:occurrence",
                        "kind": "occurrence",
                        "outcome": "pending",
                        "code": "OCCURRENCE_PENDING",
                        "subjects": [],
                        "attributes": {
                          "minimum": "1",
                          "maximum": "1"
                        }
                      }
                    ]
                  }
                }
              }
            },
            "headers": {
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "ETag": {
                "$ref": "#/components/headers/runETag"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Idempotency-Replayed": {
                "$ref": "#/components/headers/IdempotencyReplayed"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManagedScenarioRunStartRequest"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/tenant/test-as2-partner/warehouse-outbound/setup": {
      "post": {
        "operationId": "prepareManagedWarehouseOutboundProfile",
        "tags": [
          "Managed profiles"
        ],
        "summary": "Prepare the managed warehouse outbound test profile",
        "description": "Idempotently creates or refreshes the shared ModernEDI-owned test partner and managed X12 940 mapping, and checks readiness for the selected traffic environment. The response echoes that environment. Preparation sends no document and does not publish a definition, apply a binding, or start a run. Validate and Apply an exact binding for the same traffic in Mapper, then start it through POST /tenant/scenario-runs.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "OPERATE",
        "x-modernedi-error-codes": [],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/as2/TenantTestAs2PartnerResource.java#setupWarehouseOutbound",
        "parameters": [
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "description": "Traffic profile to check; defaults to production when omitted. No fallback to the other profile.",
            "schema": {
              "type": "string",
              "enum": [
                "production",
                "test"
              ],
              "default": "production"
            },
            "example": "test"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehouseOutboundSetupResponse"
                },
                "example": {
                  "success": true,
                  "testOnly": true,
                  "environment": "test",
                  "configured": true,
                  "mappingAvailable": true,
                  "partnerId": 42,
                  "mappingId": 17,
                  "canSendShippingOrder": true,
                  "readyAfter": null
                }
              }
            },
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/WarehouseOutboundSetupError400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "402": {
            "$ref": "#/components/responses/Error402"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WarehouseOutboundSetupRequest"
              },
              "example": {}
            }
          }
        }
      }
    },
    "/tenant/scenario-runs/{runId}": {
      "get": {
        "operationId": "getScenarioRun",
        "tags": [
          "Runs"
        ],
        "summary": "Read current scenario run state and evidence",
        "description": "Returns the current durable revision, evidence-bearing observations, checks, outcome, and strong ETag. Sensitive fact values are redacted from the public representation.",
        "security": [
          {
            "workspaceSession": []
          }
        ],
        "x-modernedi-permission": "READ",
        "x-modernedi-error-codes": [
          "invalid_request",
          "scenario_run_not_found",
          "server_error"
        ],
        "x-modernedi-source": "backend/src/main/java/com/modernedi/backend/scenario/TenantScenarioRunResource.java#get",
        "parameters": [
          {
            "$ref": "#/components/parameters/runId"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScenarioRunViewResponse"
                },
                "example": {
                  "success": true,
                  "run": {
                    "apiVersion": "modernedi.com/scenario-run-response/v1",
                    "kind": "graph",
                    "id": "run-5007dbf3-f115-4cac-8530-188fb4326c45",
                    "origin": "tenant_applied",
                    "binding": {
                      "id": "retailOrderInvoice",
                      "revision": 0,
                      "contentSha256": "cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc"
                    },
                    "definition": {
                      "namespace": "acme",
                      "key": "retail-order-invoice",
                      "version": "1.0.0",
                      "contentSha256": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                    },
                    "environment": "production",
                    "adapterId": "scenario-graph-interpreter-v1",
                    "execution": {
                      "kind": "scenario_graph_v1",
                      "runtimeVersion": "1.0.0",
                      "authorityContentSha256": "eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee",
                      "parametersContentSha256": "ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff"
                    },
                    "status": "active",
                    "outcome": "waiting",
                    "phase": "observing",
                    "startedAt": "2026-08-24T18:10:00Z",
                    "completedAt": null,
                    "lastUpdatedAt": "2026-08-24T18:12:00Z",
                    "retry": {
                      "mode": "advance",
                      "reason": "Attach an authoritative transaction or advance the next adapter-controlled step.",
                      "requiresApiKey": false
                    },
                    "revision": 1,
                    "etag": "\"scenario-run:v1:42:cnVuLTUwMDdkYmYzLWYxMTUtNGNhYy04NTMwLTE4OGZiNDMyNmM0NQ:1\"",
                    "counts": {
                      "observations": 1,
                      "checkpoints": 0
                    },
                    "guidance": {
                      "nextAction": "attach_or_refresh",
                      "stepId": null,
                      "occurrence": null
                    },
                    "steps": [
                      {
                        "stepId": "purchaseOrder",
                        "fromActor": "retailer",
                        "toActor": "supplier",
                        "transactionSet": "850",
                        "direction": "incoming",
                        "targetKind": "runtime_mapping",
                        "attachable": true,
                        "occurrence": {
                          "min": 1,
                          "max": 1
                        },
                        "observedOccurrences": [
                          1
                        ],
                        "occurrences": [
                          {
                            "occurrence": 1,
                            "observedAt": "2026-08-24T18:12:00Z",
                            "messageId": "msg-01K5QED4DP89F67V3MKRK9R5JM",
                            "transactionKey": "tx-01K5QED4DP89F67V3MKRK9R5JM",
                            "replyToMessageId": null,
                            "replyToTransactionKey": null,
                            "direction": "incoming",
                            "partnerId": 42,
                            "transactionSet": "850",
                            "x12Version": "004010",
                            "mappingId": 101,
                            "assurances": {
                              "mapping_succeeded": "pending"
                            },
                            "evidence": [
                              {
                                "reference": "evidence-1111111111111111111111111111111111111111111111111111111111111111",
                                "kind": "transaction"
                              }
                            ]
                          }
                        ]
                      },
                      {
                        "stepId": "invoice",
                        "fromActor": "supplier",
                        "toActor": "retailer",
                        "transactionSet": "810",
                        "direction": "outgoing",
                        "targetKind": "runtime_mapping",
                        "attachable": true,
                        "occurrence": {
                          "min": 1,
                          "max": 1
                        },
                        "observedOccurrences": [],
                        "occurrences": []
                      }
[...]
